<div class="browsing-actions-container">
    <button (click)="openAssociationCreatePopup()" mat-stroked-button color="accent" class="mat-button">Create an association</button>
    <button (click)="openPasswordPrompt(selectedRows.selected[0])" mat-stroked-button color="accent" class="mat-button">Edit an association</button>
    <button mat-stroked-button color="accent" class="mat-button">Delete an association</button>
    <div class="error-message" *ngIf="editErrorMessage">{{ editErrorMessage }}</div>
</div>

<div class="table-paginator-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? globalToggle() : null"
                          [checked]="selectedRows.hasValue() && isAllChecked()"
                          [indeterminate]="selectedRows.hasValue() && !isAllChecked()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectedRows.toggle(row) : null"
                          [checked]="selectedRows.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let association"> {{association.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let association"> {{association.name}} </td>
        </ng-container>

        <ng-container matColumnDef="users">
            <th mat-header-cell *matHeaderCellDef> Users </th>
            <td mat-cell *matCellDef="let association"> {{association.usersName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of stored associations">
  </mat-paginator>
</div>