<mat-dialog-content class="popup-content">
    <div>
      <span>Edit a user</span>
    </div>  
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input matInput placeholder="Lastname" name="lastname" [(ngModel)]="user.lastname" [formControl]="lastnameFormControl">
        <mat-error *ngIf="lastnameFormControl.invalid && lastnameFormControl.dirty">{{ errorMessage.lastname }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input matInput placeholder="Firstname" name="firstname" [(ngModel)]="user.firstname" [formControl]="firstnameFormControl">
        <mat-error *ngIf="firstnameFormControl.invalid && firstnameFormControl.dirty">{{ errorMessage.firstname }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" placeholder="Age" name="age" [(ngModel)]="user.age" [formControl]="ageFormControl">
        <mat-error *ngIf="ageFormControl.invalid && ageFormControl.dirty">{{ errorMessage.age }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="E-mail" name="email" [(ngModel)]="user.email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.invalid && emailFormControl.dirty">{{ errorMessage.email }}</mat-error>
      </mat-form-field>
      <div class="popup-buttons-container">
        <button mat-button type="button" (click)="close()">Cancel</button>
        <button mat-button type="submit">Validate</button>
      </div>
    </form>
  </mat-dialog-content>
  