<mat-dialog-content class="popup-content">
    <div>
      <span>Edit a user</span>
    </div>  
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input matInput placeholder="Lastname" name="lastname" [(ngModel)]="user.lastname" required>
        <mat-error *ngIf="userForm.controls['lastname'].hasError('required')">
          Lastname is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input matInput placeholder="Firstname" name="firstname" [(ngModel)]="user.firstname" required>
        <mat-error *ngIf="userForm.controls['firstname'].hasError('required')">
          Firstname is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" placeholder="Age" name="age" [(ngModel)]="user.age" required>
        <mat-error *ngIf="userForm.controls['age'].hasError('required')">
          Age is required
        </mat-error>
        <mat-error *ngIf="userForm.controls['age'].hasError('pattern')">
          Age must be a number
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="E-mail" name="email" [(ngModel)]="user.email" required email>
        <mat-error *ngIf="userForm.controls['email'].hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="userForm.controls['email'].hasError('email')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <div class="popup-buttons-container">
        <button mat-button type="button" (click)="close()">Cancel</button>
        <button mat-button type="submit">Validate</button>
      </div>
    </form>
  </mat-dialog-content>
  