<header id="sign-in-header">
  <img src="assets/pictures/coq.png" alt="Coq français" class="header-image-left"/>
  <h1>
    <span class="blue">Administration service<br></span>
    <span class="white">For<br> </span>
    <span class="red">French associations</span>
  </h1>
  <img src="assets/pictures/flag.png" alt="Drapeau français" class="header-image-right">
</header>
<form>
  <mat-form-field>
    <mat-label>Email:</mat-label>
    <input matInput type="email" placeholder="Email" [(ngModel)]="email" name="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password:</mat-label>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password" (keydown.enter)="login()" name="password">
  </mat-form-field>

  <div>
    <span class="error-message">{{errorMessage}}</span>
  </div>

  <div id="sign-in-button-container">
    <button mat-flat-button color="primary" (click)="login()" id="sign-in-button">Sign in</button>
  </div>
</form>
