<header id="sign-in-header">
  <img src="assets/pictures/coq.png" alt="Coq français" class="image-left"/>
  <h1>
    <span class="blue">Administration service<br></span>
    <span class="white">For<br> </span>
    <span class="red">French associations</span>
  </h1>
  <img src="assets/pictures/flag.png" alt="Drapeau français" class="image-right">
</header>
<fieldset>
  <legend>Sign in</legend>
  <label for="email">E-mail:</label>
  <input type="text" id="email" placeholder="e-mail" />
  <label for="password">Password:</label>
  <input (keydown.enter)="login()" type="password" id="password" 
placeholder="Password" />
  <span class="error-message">{{errorMessage}}</span>
  <div id="anchor-button"><a (click)="login()" id="sign-in">Sign in</a></div>
</fieldset>
