<div id="background">
    <fieldset id="sign-in-form">
      <span id="sign-in-title">Sign in</span>
      <label *ngIf="!showPasswordInput" for="email">E-mail:</label>
      <input *ngIf="!showPasswordInput" (keydown.enter)="showPassword()" [(ngModel)]="email" type="text" id="email" placeholder="e-mail" />
      <label *ngIf="showPasswordInput" for="password">Password:</label>
      <input *ngIf="showPasswordInput" (keydown.enter)="login()" [(ngModel)]="password"  type="password" id="password" 
    placeholder="password" />
      <a *ngIf="!showPasswordInput" (click)="showPassword()"><button>Next</button></a>
      <a *ngIf="showPasswordInput" (click)="login()"><button id="last-button">Log in</button></a>
    <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
  </fieldset>
</div>