:root {
    --main-blue-color: rgb(64, 83, 175);
    --main-red-color: rgb(226, 82, 64);
    --main-white-color: white;
    --menu-grey-color: rgba(255, 255, 255, 0.637);
  }
  
html, body { 
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 45%, rgba(61,57,57,1) 100%);
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

header {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
}

.browsing-header {
    height: 10%;
}

#sign-in-header {
    background-image: url(assets/pictures/baguette.png);
    background-size: 30% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-image-left {
    margin-right: 15%;
    width : 10%;
}

.header-image-right {
    margin-left: 15%;
    margin-right: 1%;
    width: 10%;
}

h1 {
    height: 100%;
    width: 100%;
    margin-top: 3%;
    font-size: 3em;
    text-align: center;
    flex: 1;
}

.blue {
    color: var(--main-blue-color);
}

.white {
    color: var(--main-white-color);
}

.red {
    color: var(--main-red-color);
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 60%;
    border: 5px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 2.3em;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 0.5em;
    margin-bottom: 1em;
}

label {
    text-decoration: underline;
    font-size: 0.5em;
}

#sign-in-button {
    border: 5px solid #000;
    border-radius: 10px;
    background-color: white;
    color: #000;
    padding: 1em 2em;
    font-size: large;
    font-weight: bold;
}

#sign-in-button-container {
    display: flex;
    justify-content: center;
}

input {
    display: block;
    margin: auto;
    margin-top: 5%;
    font-family: "Roboto", sans-serif;
    font-size: 0.5em;
    padding: 0.5em 0.4em;
    background-color: #000;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.main-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.browsing-container {
    margin-left: 15%;
}

.menu-button-container {
    height: 100%;
    width: 10%;
    float: left;
    position: relative;
}

.button-menu {
    height: 100%;
    width: 100%;
    background-color: var(--menu-grey-color);
    text-align: center;
    border: 4px solid rgba(255, 255, 255, 0.685);
    border-radius: 5px;
    color: #000;    
    font-size: 1.5em;
    font-weight: bold;
}

.cdk-overlay-pane {
    width: 20% !important;
    position: static !important;
    margin-left: 10% !important;
}

.mat-mdc-menu-content {
    padding: 0% !important;
}

.mat-mdc-menu-item {
    padding-left: 5% !important;
}

.mat-mdc-menu-content button span {
    color: white !important;
    font-weight: bold !important;
}

.blue-item {
    background-color: var(--main-blue-color) !important;
}

.mat-mdc-menu-content .black-font span {
    color: black !important;
}

.red-item {
    background-color: var(--main-red-color) !important;
}

.browsing-actions-container {
    width: 100%;
    height: 10%;
    margin-top: 3%;
    margin-bottom: 1%;
    color: white;
    font-size: 0.1em;
    text-align: center;
}

.browsing-actions-container button {
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 0 4em;
    color: #000;
    padding: 1em 2em;
    font-size: large;
    font-weight: bold;
}

.table-paginator-container {
    border: 0px solid white;
    border-radius: 15px;
    background-color: white;
    width: 80%;
    height: 50%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

table {
    box-shadow: none !important;
    min-width: 100% !important;
    height: 80% !important;
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border: 15px solid white !important;
    border-radius: 15px !important;
}

thead tr{
    height: 10% !important;
}

tbody tr {
    height: 10% !important;
}

.mat-column-id {
    width: 5%;
    border-right: 0.05em solid rgba(0, 0, 0, 0.2);
}

.mat-mdc-paginator {
    height: 20% !important;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid white;
    border-radius: 15px;
}

.mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-focus-icon-color: var(--main-red-color) !important;
    --mdc-checkbox-selected-hover-icon-color: var(--main-red-color) !important;
    --mdc-checkbox-selected-icon-color: var(--main-red-color) !important;
    --mdc-checkbox-selected-pressed-icon-color: var(--main-red-color) !important;
}